[Unit]
Description=Prometheus {{ name }}
After=network.target

[Service]
Type=simple
User={{ user }}
Group={{ group }}
{% if env_values is defined %}
{% for value in env_values %}
Environment={{ value }}
{% endfor %}
{% endif %}
ExecStart={{ root_dir }}/{{ name }} {{ cli_options | default("") }}
SyslogIdentifier=prometheus_{{ name }}
Restart=always

[Install]
WantedBy=multi-user.target
